# Server
PORT=5000
NODE_ENV=development

# Mongo
MONGODB_URI=mongodb://127.0.0.1:27017/taskflowx

# JWT
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d

# Client
CLIENT_URL=http://localhost:3000

# Uploads
UPLOAD_DIR=uploads

