@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  color-scheme: light;
}

.dark{
  color-scheme: dark;
}

html, body{
  height: 100%;
}

body{
  @apply bg-slate-950 text-slate-100 antialiased;
}

.light body{
  @apply bg-slate-50 text-slate-900;
}

